@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;800;900&family=Hind+Madurai:wght@300;400&family=IM+Fell+Great+Primer&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    background-image: url('imagens/pexels-breakingpic-3305.jpg');
    background-size: cover;
}
header h1 {
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    margin-top: 20px;
}
section {
    background-color: white;
    width: 500px;
    
    padding: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.575);
    margin: auto;
    border-radius: 12px;
    margin-top: 30px;
    
}
section p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}
select {
    margin: auto;
    margin-left: 50px;

    margin-top: 40px;
   
}
footer {
    color: black;
    text-align: center;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 10px;
    
}
footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
footer p a {
    color: black;
    text-decoration: none;
}
@media (max-width: 600px ) {
    section {
        width: 80%;
    }

}